<style>

h1 {
  font-size=50px;
  font-face=fantasy;
  color="blue";
  
}
body {
    background-image: url ("http://www.sheldonsfans.com/img_articles/original/821.jpg");
    background-position:center;
  background-height:2580px;
  background-width:1440px;
}

</style>